@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #FAFAFA;
}

li, ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
